{% extends "base.html" %}
{% block content %}

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/IMAGES/st-jude.jpg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">St. Jude Children's Research Hospital</h5>
        <p class="card-text">
          ALSAC (American Lebanese Syrian Associated Charities) was founded in 1957 and exists for the sole purpose of raising funds to support the
          operating and maintenance of St. Jude Children's Research Hospital. The mission of St. Jude Children's Research Hospital is to find cures for children 
          with cancer and other catastrophic diseases through research and treatment. It is supported primarily by donations raised by ALSAC. Research efforts 
          are directed at understanding the molecular, genetic and chemical bases of catastrophic diseases in children; identifying cures for such diseases; and promoting their prevention. Research is focused specifically on cancers, some acquired and inherited immunodeficiencies, sickle cell disease, infectious diseases and genetic disorders.
          ALSAC - St. Jude Children's Research Hospital is a 501(c)(3) organization, with an IRS ruling year of 1980, and donations are tax-deductible.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="submit" class="btn btn-primary mb-2">Donate</button>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/IMAGES/alaska-conservation-foundation.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Alaska Conservation Foundation</h5>
        <p class="card-text">
          Mission: 
          To protect Alaska's natural environment and the diverse cultures & ways of life it sustains by 
          promoting conservation philanthropy and by strategically directing resources to conservation 
          leaders, organizations, & initiatives.
        </p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="submit" class="btn btn-primary mb-2">Donate</button>
      </div>
    </div>
  </div>
</div>


<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/static/IMAGES/unicef.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">United States Fund for UNICEF</h5>
        <p class="card-text">Mission: 
          To support programs through fundraising, advocacy and education that provide lifesaving medicines, better nutrition, clean water, quality basic education and emergency relief to children, women and communities in over 190 countries and territories; partners, in coordination and planning, with voluntary agencies engaged in child relief to create a better world for children.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        <button type="submit" class="btn btn-primary mb-2">Donate</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}