
{% extends "base.html" %}
{% block content %}

    <div class="jumbotron text-center" id="hero">
      <h1>Pick, Click, Give</h1>
      <a class="btn btn-primary" href="/learn-more/">Learn More</a>
    </div>


    <div class="container mb-5 mt-5">
      <div class="row m-5">
        <div class="col-lg-4">
          <h3>Simple</h3>
          <p class="lead">When logged in declare an email for all records to be shared in two clicks</p>
        </div>
        <div class="col-lg-4">
          <h3>Secure</h3>
          <p class="lead">See the impact your money makes when given to verified charites you pick</p>
        </div>
        <div class="col-lg-4">
          <h3>Sharing</h3>
          <p class="lead">Learn what projects you care to share with</p>
        </div>
      </div>
    </div>

    <!-- CALL TO ACTION is just here for looks in demo -->

    <div class="jumbotron text-center mb-0">
      <p class="lead mb-4">Sign Up Below</p>
      <div class="d-flex justify-content-center">
        <form action="#" class='form-inline'>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="First Name"/>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Last Name"/>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Email"/>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Username"/>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Password"/>
          <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Reenter Password"/>
          <!-- Drop down for selecting user class -->
          <select>
            <option>Donor</option>
            <option>Charity</option>
            <option>Financial Advisor</option>
          </select>
          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
      </div>
    </div>

    
{% endblock %}