{% extends "base.html" %}
{% block content %}
<!-- login form here -->
<form method="POST" action="/login">
  <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Username" id="username" name="username" value="{{ account_username }}"/>
  <input type="text" class="form-control mb-2 mr-sm-2" placeholder="Password" value="" id="password"/>
  <button type="submit" class="btn btn-primary mb-2">Login</button>
</form>
<!-- #create route for usename to login -->
<!-- plan using account classes to change content of one page -->
{% endblock %}